[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SergSlipushenko
[access "refs/for/refs/*"]
	read = group user/SergSlipushenko
	push = group user/SergSlipushenko
	label-Code-Review = -2..+2 group user/SergSlipushenko
	label-Verified = -1..+1 group user/SergSlipushenko
	rebase = group user/SergSlipushenko
	removeReviewer = group user/SergSlipushenko
	submit = group user/SergSlipushenko
[access "refs/heads/*"]
	read = group user/SergSlipushenko
	create = group user/SergSlipushenko
	push = +force group user/SergSlipushenko
	pushMerge = group user/SergSlipushenko
[access "refs/tags/*"]
	push = +force group user/SergSlipushenko
	pushTag = group user/SergSlipushenko
	pushSignedTag = group user/SergSlipushenko
